{% extends 'blogs/base.html' %}

{% block page_header %}
	<div class="p-3 mb-4 bg-light border rounded-3">
		<div class="container-fluid py-4">
			<h1 class="display-3">Share insights on your favorite topics.</h1>

			<p class="lead">Blog Yo Self is an app for building a personal blog 
			related to a topic you are interested in. Passionate about a subject or
			want to share your experiences with others? Sign up and Blog Yo Self!</p>
			<a class="btn btn-primary btn-lg mt-1"
				 href="{% url 'accounts:register' %}">Register &raquo;</a>
		</div>
	</div>
{% endblock page_header %}

{% block content %}
	<div class="p-4 md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
		<div class="px-0">
			<h1 class="display-4 fst-italic">{{ latest_post.title }}</h1>
			<p class="lead my-3">
				{{ latest_post.truncated_text }}</p>
			<p class="lead mb-0">
				<a class="text-body-emphasis fw-bold" 
					href="{% url 'blogs:post' latest_post.id %}">Continue reading...</a>
			</p>
		</div>
	</div>
	{% for post in posts|slice:"1:" %}
		<div class="col-md-6">
			<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col p-4 d-flex flex-column position-static">
					<strong class="d-inline-block mb-2 text-primary-emphasis">
						{{ post.blog }}</strong>
					<h3 class="mb-0">{{ post.title }}</h3>
					<div class="mb-1 text-body-secondary">{{ post.date_added|date:"M jS, Y" }}</div>
					<p class="card-text mb-auto"> {{ post.body|truncatechars:200 }}</p>
					<a class="icon-link gap-1 icon-link-hover stretched-link" 
						href="{% url 'blogs:post' post.id %}">Continue reading
					</a>
				</div>
			</div>
		</div>
	{% empty %}
		<ul>
			<li>No blogs have been added yet.</li>
		</ul>
	{% endfor %}
	
	<div class="p-4">
		<h4 class="fst-italic">Categories</h4>
		<ol class="list-unstyled mb-0">
			<!-- TODO: Add a page to show all posts by a selected blog category and add links below -->
			{% for blog in blogs %}
				<li>{{ blog.name }}</li>
			{% empty %}
				<li>No blog categories have been added yet</li>
			{% endfor %}
		</ol>
	</div>

	<!-- TODO: These links need to be added to the navbar for a LOGGED IN only user -->
	<a href="{% url 'blogs:new_blog' %}">Add a new blog category</a>
	<br>
	<a href="{% url 'blogs:new_post' %}">Add a new post</a>

{% endblock content %}




{% block content1 %}

	<p>Blogs:</p>
	<ul>
		{% for blog in blogs %}
			<li>{{ blog.name }}</li>
			<ul>
				{% for post in posts %}
					{% if blog.name == post.blog.name %}
						<li>
							<a href="{% url 'blogs:post' post.id %}">
								{{ post.title }}</a>
						</li>
					{% endif %}	
				{% empty %}
					<li>No posts have been added yet.</li>
				{% endfor %}
			</ul>
		{% empty %}
			<li>No blogs have been added yet.</li>
		{% endfor %}
	</ul>

{% endblock content1 %}
